<div class="bs-example container">
  <div class="row">
    <h3>{{member.mnickname}} 님의 리뷰</h3>
    <!-- 화면에 결과 메세지를 띄우고 싶을 때, 지금은 alert사용 -->
    <!-- <div *ngIf="message" class="alert alert-info">{{message}}</div> -->
    <div  class="col-md-4" *ngFor="let r of myReviews">
      <div class="panel panel-default">
        <div class="panel-heading" >리뷰 번호: {{r.rid}}</div>
        <div class="panel-body" >
          해당트럭: {{r.rtruck}}<br>
          사진: {{r.rimage}}<br>
          내용: {{r.rcomment}}<br>
          점수: {{r.rscore}}<br>
          작성일: {{r.rdate}}<br>
        </div>
      </div>
    </div>
  </div>
</div>
