<div class="container">
  <table class="table table-view">
    <colgroup>
      <col width="7%">
      <col width="*">
      <col width="15%">
      <col width="10%">
      <col width="7%">
    </colgroup>
    <thead>
      <tr>
        <th class="subject"><b>제목 : </b> {{cTitle}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="infocell" >
          <b>시작일</b> {{cSdate}}
          <b>종료일</b> {{cEdate}}
          <b>조회수</b> {{cViewcount}}
        </td>
      </tr>
      <tr>
        <td class="contents pull-center">
          <img src="http://localhost:8080/image/{{cImage}}" alt="x" width="450px" height="auto"><br>
          {{cContent}}
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <button (click)="preview(cId)" *ngIf="cId>1">이전글</button>
  <button (click)="next(cId)" *ngIf="cId<length">다음글</button>
</div>
