<div class="container">
  <table class="table table-hover">
    <!-- <colgroup>
      <col width="7%">
      <col width="*">
      <col width="15%">
      <col width="10%">
      <col width="7%">
    </colgroup> -->
    <thead>
      <tr>
        <!-- <th style="text-align:center">글 번호</th>
        <th style="text-align:center">제목</th>
        <th style="text-align:center">작성자</th>
        <th style="text-align:center">시작일</th>
        <th style="text-align:center">종료일</th>
        <th style="text-align:center">조회수</th> -->
        <th class="col-xs-2 col-sm-1 col-md-1 col-lg-1">글번호</th>
        <th class="col-xs-2 col-sm-4 col-md-4 col-lg-4">제목</th>
        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">작성자</th>
        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">시작일</th>
        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">종료일</th>
        <th class="col-xs-2 col-sm-1 col-md-1 col-lg-1">조회수</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of canival | paginate: {itemsPerPage: 15,
                                                currentPage: p}">
        <td>{{c.cid}}</td>
        <td><a (click)="getCanivalDetail(c.cid)">{{c.ctitle}}</a></td>
        <td>관리자</td>
        <td>{{c.csdate}}</td>
        <td>{{c.cedate}}</td>
        <td>{{c.cviewcnt}}</td>
      </tr>
    </tbody>
  </table>
  <div class="">
    <a class="btn btn-default pull-right" [routerLink]="['/canival-write']">글쓰기</a>
  </div>
  <div class="row text-center">
    <ul class="pagination" style="">
      <pagination-controls (pageChange)="p = $event"
                            directionLinks="true"
                            autoHide="true"
                            previousLabel=""
                            nextLabel=""
                            screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </ul>
  </div>
</div>
